Repository vmware/terraform-provider-vsphere, pull requests merged in 2018-05, with the labels that each got.

#498 New resource: vsphere_drs_vm_override
  vsphere/helper_test.go
  vsphere/internal/helper/virtualmachine/virtual_machine_helper.go
  vsphere/provider.go
  vsphere/resource_vsphere_drs_vm_override.go
  vsphere/resource_vsphere_drs_vm_override_test.go
  website/docs/r/drs_vm_override.html.markdown
  website/vsphere.erb
Labels: enhancement, new-resource

#501 New resource: vsphere_ha_vm_override
  vsphere/helper_test.go
  vsphere/provider.go
  vsphere/resource_vsphere_compute_cluster.go
  vsphere/resource_vsphere_ha_vm_override.go
  vsphere/resource_vsphere_ha_vm_override_test.go
  website/docs/r/compute_cluster.html.markdown
  website/docs/r/ha_vm_override.html.markdown
  website/vsphere.erb
Labels: enhancement, new-resource

#512 Add attribute to create parent directories when creating a virtual disk
  vsphere/resource_vsphere_virtual_disk.go
  vsphere/resource_vsphere_virtual_disk_test.go
  website/docs/r/virtual_disk.html.markdown
Labels: enhancement

#508 New resource: vsphere_compute_cluster_host_group
  vsphere/helper_test.go
  vsphere/internal/helper/structure/structure_helper.go
  vsphere/provider.go
  vsphere/resource_vsphere_compute_cluster_host_group.go
  vsphere/resource_vsphere_compute_cluster_host_group_test.go
  vsphere/resource_vsphere_compute_cluster_vm_group.go
  website/docs/r/compute_cluster.html.markdown
  website/docs/r/compute_cluster_host_group.html.markdown
  website/docs/r/compute_cluster_vm_group.html.markdown
  website/vsphere.erb
Labels: enhancement, new-resource

#511 New resource: vsphere_compute_cluster_vm_host_rule
  vsphere/helper_test.go
  vsphere/provider.go
  vsphere/resource_vsphere_compute_cluster_vm_host_rule.go
  vsphere/resource_vsphere_compute_cluster_vm_host_rule_test.go
  website/docs/r/compute_cluster_host_group.html.markdown
  website/docs/r/compute_cluster_vm_group.html.markdown
  website/docs/r/compute_cluster_vm_host_rule.html.markdown
  website/docs/r/dpm_host_override.html.markdown
  website/docs/r/drs_vm_override.html.markdown
  website/docs/r/ha_vm_override.html.markdown
  website/vsphere.erb
Labels: enhancement, new-resource

#515 New affinity/anti-affinity rule resources for compute clusters
  vsphere/helper_test.go
  vsphere/provider.go
  vsphere/resource_vsphere_compute_cluster_vm_affinity_rule.go
  vsphere/resource_vsphere_compute_cluster_vm_affinity_rule_test.go
  vsphere/resource_vsphere_compute_cluster_vm_anti_affinity_rule.go
  vsphere/resource_vsphere_compute_cluster_vm_anti_affinity_rule_test.go
  vsphere/resource_vsphere_compute_cluster_vm_group_test.go
  vsphere/resource_vsphere_drs_vm_override_test.go
  vsphere/resource_vsphere_ha_vm_override_test.go
  website/docs/r/compute_cluster_vm_affinity_rule.html.markdown
  website/docs/r/compute_cluster_vm_anti_affinity_rule.html.markdown
  website/vsphere.erb
Labels: enhancement, new-resource

#520 r/datastore_cluster_vm_anti_affinity_rule: New resource
  vsphere/helper_test.go
  vsphere/internal/helper/storagepod/storage_pod_helper.go
  vsphere/provider.go
  vsphere/resource_vsphere_datastore_cluster_vm_anti_affinity_rule.go
  vsphere/resource_vsphere_datastore_cluster_vm_anti_affinity_rule_test.go
  website/docs/r/datastore_cluster_vm_anti_affinity_rule.html.markdown
  website/vsphere.erb
Labels: enhancement, new-resource

#528 Remove size attribute for attached disks
  vendor/github.com/hashicorp/terraform/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing_config.go
  vendor/vendor.json
  vsphere/internal/virtualdevice/virtual_machine_disk_subresource.go
  vsphere/resource_vsphere_virtual_machine_test.go
Labels: bug
